/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


main.pb-3 .row {
    justify-content: center;
}

.text-info {
    color: #004aad !important;
    text-align: center;
}

form {
    background: #fff;
    color: #004aad;
    padding: 60px 50px;
    margin-top: 50px;
    box-shadow: 3px 6px 6px -2px lightblue;
}

    form a {
        color: #004aad;
    }

.navbar-collapse.collapse.d-sm-inline-flex.flex-sm-row-reverse form {
    background: transparent;
    color: #000;
    padding: 0;
    margin-top: 0;
    box-shadow: none;
}

.background-container {
    position: fixed;
    top: 0;
    background: #004aad;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.navbar-light .navbar-nav .nav-link {
    color: rgb(0 74 173);
}

.navbar-light .navbar-brand {
    color: rgb(0 74 173);
}

.text-muted {
    color: #ffffff !important;
}


.text-muted a {
    color: #ffffff !important;
}
