@using Microsoft.AspNetCore.Identity

@inject SignInManager<BL.ApplicationUser> SignInManager
@inject UserManager<BL.ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" href="#"><span>مرحبا بك &nbsp;</span> @UserManager.GetUserAsync(User).Result.FirstName</a>
           @* <span>مرحبا بك &nbsp;</span> @UserManager.GetUserAsync(User).Result.FirstName*@
        </li>
        <li class="nav-item">
            <form id="logoutForm" method="post" class="form-inline" asp-controller="Account" asp-action="LogOff">
                <button type="submit" class="btn nav-link">Logout</button>
            </form>
        </li>
    }
    else
    {   
       
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Register">انشاء حساب</a>
        </li>
       
       
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Login">تسجيل الدخول</a>
        </li>
       
    }
</ul>